
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <div class="commentcard">
          <h1>About</h1>
          <p>This template was created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
          <p>The background image is CC BY-SA 3.0 by the wikipedia user <a href="http://commons.wikimedia.org/wiki/User:Grapeman4">Grapeman4</a>. <a href="http://commons.wikimedia.org/wiki/File:Silver_Fern_Koru2.JPG">Original image</a> </p>
      </div>
    </div>
</div>
{% endblock %}

