
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="row">
    <div class="col-md-12">
    <div class="jumbotron">
      <h1>Welcome to the Blog Aggregator</h1>
    
      <p>This is the start of a blog aggregator for our MOOC, or COOL</p>
      <p><a href="http://goo.gl/PFMvL0" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div><!-- /.jumbotron -->
    </div>
</div>


<div class="body-content">
  <div class="row">
      
    {% for post_obj in postlist %}
        <div class="col-md-4">
            <center>
            <div id="usercard_{{ post_obj.user.username }}"  class="usercard"> 
                <a href="{{ url_for('public.user',username=post_obj.user.username) }}"> <img src = {{ post_obj.user.email  | gravatar }} class = "img-responsive img-rounded" alt="gravatar"/>  </a>
              
              <h2> {{ post_obj.user.username }}</h2>
              <p>{{ post_obj.summary|safe }}</p>
              <div class ="row">
                  <div class="col-xs-1">
                      <p><a class="btn btn-default" href="{{ post_obj.user.atomfeed }}">Blog &raquo;</a></p>
                  </div>
                  {% if current_user and current_user.is_authenticated() %}
                      <div class="col-xs-5 pull-right ">
                        <p><a href="{{ url_for('user.makecomment',username=post_obj.user.username,postid=post_obj.id,commentmethod='new') }}" class="btn btn-default"> Comment &raquo; </a></p>
                      </div>
                  {% endif %}
              </div>
            </div>
            </center>
            <p></p>
        </div>
    {% endfor %}
  </div><!-- /.row -->
</div>

{% endblock %}

