
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="row">
    <div class="col-md-12">
    <div class="jumbotron">
      <h1>Welcome to the Blog Aggregator</h1>
    
      <p>This is the start of a blog aggregator for our MOOC, or COOL</p>
      <p><a href="http://goo.gl/PFMvL0" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div><!-- /.jumbotron -->
    </div>
</div>


<div class="body-content">
  <div class="row">
      
    {% for userblob in userlist %}
        <div class="col-md-4">
            <center>
            <div id="usercard_{{ userblob[0] }}"  class="usercard"> 
                <a href="{{ url_for('public.user',username=userblob[0]) }}"> <img src = {{ userblob[1]  | gravatar }} class = "img-responsive img-rounded" alt="gravatar"/>  </a>
              
              <h2> {{ userblob[0] }}</h2>
              <p>{{ userblob[2]|safe }}</p>
              <div class ="row">
                  <div class="col-xs-1">
                      <p><a class="btn btn-default" href="{{ userblob[3] }}">Blog &raquo;</a></p>
                  </div>
                  {% if current_user and current_user.is_authenticated() %}
                      <div class="col-xs-5 pull-right ">
                        <p><a href="{{ url_for('user.makecomment',username=username,postid=postid,commentmethod='new') }}" class="btn btn-default"> Comment &raquo; </a></p>
                      </div>
                  {% endif %}
              </div>
            </div>
            </center>
            <p></p>
        </div>
    {% endfor %}
  </div><!-- /.row -->
</div>

{% endblock %}

