/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
    font-size: 2em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

.usercard{
    border-radius: 6px;
    background: rgba(238, 238, 238, 0.8);
    padding: 20px;
    margin-bottom: 10%;
}

.commentcard{
    border-radius: 6px;
    background: rgba(238, 238, 238, 0.8);
    margin: 10px;
    padding: 1em;
}

.smallspace{
    margin-bottom: 1em;
}

img { 
    display:block;
    margin-left: auto;
    margin-right: auto
 } 

div.spacer
{
    font-size: 0; 
    height: 60px;
    line-height: 0;
}

/*jumbotron override */
.jumbotron{
    background: rgba(238, 238, 238, 0.8);
}

/* Parallax Scrolling */
#intro {
    background: url(/static/public/images/intro.png) 50% 0 fixed;
    height: auto; 
    margin: 0 auto;
    width: 100%;
    position: relative;

}
#home {
    background: url(/static/public/images/home.jpg) 50% 0 fixed;
    height: auto; 
    margin: 0 auto;
    width: 100%;
    position: relative;
    

}
#about {
    background: url(/static/public/images/about.png) 50% 0 fixed;
    height: auto;
    margin: 0 auto;
    width: 100%;
    position: relative;

    color: #fff;
}


/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}
