<!-- extends layout -->
{% extends "layout.html" %}

{% block content %}
   <div class="commentcard">
      <h1>Comments</h1>
   </div> 
  
      {% for comment in comments_all %}
          <div class="col-sm-12 commentcard">
            <div class="col-sm-12">
                {{ comment.content|safe }}
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-2">
                <b>{{ comment.user.username|capitalize  }}</b>
            </div>
          </div>
      {% endfor %}
      
      <div class="col-sm-3 commentcard">
          <a href="{{ url_for('user.makecomment',username=username,postid=postid) }}"> Make Comment </a>
      </div>
      
      {% if allowedit == True %}
        
        <div class="col-sm-3 commentcard">
            <a href="{{ url_for('user.editcomment',username=username,postid=postid) }}"> Edit Last Comment </a>
        </div>

      {% endif %}


  


{% endblock %}
