<!-- extends layout -->
{% extends "layout.html" %}

{% block content %}
   <div class="commentcard">
      <h1>Comments</h1>
   </div> 
  
      {% for comment in comments_all %}
          <div class="col-sm-12 commentcard">
            <div class="col-sm-12">
                {{ comment.content|safe }}
            </div>
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-2">
                <b>{{ comment.user.username|capitalize  }}</b>
            </div>
          </div>
      {% endfor %}
      
    {% if allowedit == True %}
        
        <div class="col-sm-12 ">
            <p><a href="{{ url_for('user.makecomment',username=username,postid=postid,commentmethod='edit') }}" class="btn btn-primary btn-large"> Edit last comment &raquo; </a></p>
        </div>

      {% endif %}

      <div class="col-sm-12 ">
          <p><a href="{{ url_for('user.makecomment',username=username,postid=postid,commentmethod='new') }}" class="btn btn-primary btn-large"> Make new comment &raquo; </a></p>
      </div>
      

{% endblock %}
