<!-- extends layout -->
{% extends "layout.html" %}

{% block content %}
    <div class="col-md-offset-2 col-md-8">
        <div class="commentcard">
       
           <p> </p>
           <h3>{{ post.summary|safe }}</h3>
          <h3>Comments</h3>
          <hr>
          {% for comment in comments_all %}
                <div>
                    <p>{{ comment.content|safe }}</p>
                    <p><b>{{ comment.user.username|capitalize  }}</b></p>
                    <hr>
                </div>
          {% endfor %}
          
        {% if allowedit == True %}
            
            <div>
                <p><a href="{{ url_for('user.makecomment',username=username,postid=postid,commentmethod='edit') }}" class="btn btn-primary btn-large"> Edit last comment &raquo; </a></p>
            </div>
            <p class="smallspace">  </p>
    
          {% endif %}
        {% if current_user and current_user.is_authenticated() %}
          <div>
              <p><a href="{{ url_for('user.makecomment',username=username,postid=postid,commentmethod='new') }}" class="btn btn-primary btn-large"> Make new comment &raquo; </a></p>
          </div>
          <p class="smallspace">  </p>
        {% endif %}
     </div>
    </div>

{% endblock %}
